{% extends 'base.html' %}
{% block title %} <title> Boggle! </title> {% endblock %}
{% block content %}
<div id="timer">Timer: 60</div>
<form action="" id="guessForm">
    <input type="text" name="guess" id="guess">
    <input type="submit" name="submit_guess" id="submit_guess" value="GUESS" class="start-btn">
</form>
<table id="gameTable">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<h2 id="score">Score: 0</h2>
<h3 id="guessResponse"></h3>
<script src="/static/boggleGame.js"></script>
{% endblock %}